*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: gray;
    height: 100vh;
}
h1{
    text-align: center;
    color: #fff;
}
.container{
    display: none;
}
.bi{
    color: orange;
    font-size: 1.8em;
}
.bi-layout-sidebar-inset-reverse{
    position: fixed;
    top: .9375rem;
    right: 2.8125rem;
    cursor: pointer;
    display: none;
}
.container{
    position: fixed;
    height: 100%;
    width: 31.25rem;
    top: 0;
    left: 0;
    background-color: white;
    transform: translateY(100%);
    transition: 1s ease-in-out;
}
.sidebarHeader{
    text-align: right;
    padding: 1rem
}
.menu a{
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: gray;
    display: block;
}
.menu a:hover{
    padding-left: 2.5rem;
}
.menu li{
    list-style: none;
    padding: 1rem 1.5rem;
}
.menu li:nth-child(odd){
    background-color: orange;
}
.menu li a:nth-child(odd){
    color: #fff;
}
.showSideBar{
    transform: translate(0%);
    transition: 1s ease-in-out;
}