input{
    width: 100%;
    padding: .5rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: rgb(136, 209, 231);
}
i{
    font-size: 1.6em;
    padding-right: 1rem;
    color: black;
}
.btn{
    width: 100%;
    height: 5vh;
    padding: .5rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    font-size: 1em;
}
audio{
    width: 100%;
}
.word{
    margin-bottom: 1rem;
}
.title{
    font-weight: 100;
}
.show{
    display: block;
}
::placeholder{
    color: black;
}