*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container{
    max-width: 37.5rem;
    width: 100%;
}
.title{
    letter-spacing: .125rem;
    color: blue;
}
.acordions{
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 1.25rem;
    margin-bottom: 1.875rem;
    border-radius: 1rem;
}
.items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    text-align: justify;
    margin-top: 1rem;
    border-top: 1px solid black;
}
.text p{
    margin-top: 1rem;
}
.active{
    display: none;
}
.accordionButton{
    outline: none;
    border: none;
    font-size: 1.5em;
    background: none;
    color: blue;
    cursor: pointer;
}